/*main
--------------------------------------------*/
main {
    background-color: #ebebeb;
    padding: 20px;
    display: flex;
    max-width: 1080px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .container-inner-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

/*block-monthly-progress
--------------------------------------------*/

.block-monthly-progress {
    display: flex;
    flex-direction: column;
    max-width: 704px;
    background-color: #fff;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
}

.name {
    display: flex;
    justify-content: space-between;

    p {
        color: #767676;
        font-size: 14px;
        font-weight: 700;
    }

    button {
        height: 24px;
        color: #bfbfbf;
        font-size: 12px;
        font-weight: 700;
        border: none;
        width: 42.5px;
        background-color: inherit;
        align-self: center;
        border-radius: 18px;
    }

    button:first-of-type {
        width: 64px;
    }

    button:last-of-type {
        width: 20px;
    }

    button:hover {
        color: #fff;
        cursor: pointer;
        background: -webkit-linear-gradient(left, #fd4e75, #fc7858);
    }

    >div {
        max-width: 170px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.stats {
    display: flex;
    margin-top: 25px;
    flex-direction: column;

    .stats-top {
        display: flex;
    }

    li {
        font-size: 12px;
        color: #bfbfbf;
        font-weight: 700;
    }

    .vertical {
        display: flex;
        flex-direction: column;

        li:not(:first-of-type) {
            margin-top: 23px;
        }

        margin-right: 35px;
    }

    .horizontal {
        display: flex;
        margin-top: 25px;
        margin-left: 65px;
        width: 90%;
        justify-content: space-around;
    }
}

/*block-per-hours
--------------------------------------------*/

.block-per-hour {
    padding: 30px 71px;
    display: flex;
    max-width: 264px;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);

    p {
        font-size: 14px;
        font-weight: 700;
        color: #777;
    }

    img {
        margin: 25px 0;
    }

    .down, .up {
        position: relative;
        padding-left: 9px;
        font-size: 12px;
        color: #bfbfbf;
        font-weight: 700;
    }

    .up {
        margin-left: 5px;
    }

    .down::before, .up::before {
        content: '';
        position: absolute;
        left: -1px;
        display: block;
    }

    .down::before {
        bottom: 3px;
        border-left: 3px solid transparent;
        border-bottom: 6px solid #A889E9;
        border-right: 3px solid transparent;
    }

    .up::before {
        top: 2px;
        border-left: 3px solid transparent;
        border-top: 6px solid #FD5670;
        border-right: 3px solid transparent;
    }
}

/*block-feeds
--------------------------------------------*/
.container-inner-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-inner-bottom-left {
    display: flex;
    justify-content: space-between;
    max-width: 467px;
    max-height: 508px;
}
.block-feeds {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 31px 30px 35px 30px;
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    p {
        font-size: 14px;
        font-weight: 700;
        color: #777;
    }
    span {
        font-size: 8px;
        color: #979796;
        margin-top: 13px;
    }
    .block-top {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
        .statements::before {
            content: '';
            position: absolute;
            display: block;
            top: 36%;
            left: 2%;
            border-radius: 5%;
            height: 187px;
            border-left: 4px solid #f1f1f1;
        }
    }
    .name-actor {
        display: flex;
        flex-direction: column;
    }
    .statements {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 345px;
        margin-left: 20px;
        position: relative;
        p {
            color: #777;
            font-size: 12px;
            padding: 21px 18px;
            border: 1px solid #f1f1f1;
            background-color: #fcfcfc;
            font-weight: 300;
        }
        span { 
            color:#777;
            font-size: 12px;
            font-weight: 700;
        }
        .bottom-column {
            margin-top: 20px;
            margin-left: 30px;
        }
        p:nth-child(2) {
            margin-top: 20px;
        }
    }
    
    .block-bottom {
        display: flex;
        margin-top: 20px;
    }
}

/*block-tasks
--------------------------------------------*/
.container-inner-bottom-right {
    max-width: 501px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.container-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.block-tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 30px 29px 23px 31px;
    width: 100%;
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    p {
        font-size: 14px;
        font-weight: 700;
        color: #777;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        width: 441px;
    }
    span {
        font-size: 12px;
    }
    li {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #ededed;
        width: 100%;
        line-height: 37px;
    }
    li:first-of-type {
        border-top: 2px solid #ededed;
        line-height: 35px;
    }
    li > div {
        display: flex;
        justify-content: center;
        align-content: center;
        line-height: 37px;
    }
    li:nth-child(even) {
        background-color: #f3f3f3ea;
    }
    .task {
        font-weight: 900;
        background: -webkit-linear-gradient(right, #fd4e75, #fc7858);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 10px;
        line-height: 35px;
    }
    .comment {
        font-weight: 400;
        color: #BFBFBF;
    }
    .time {
        font-weight: 700;
        color: #9C9C9C;
        position: relative;
        text-align: start;
        width: 55px;
    }
    .time:before {
        content: '';
        position: absolute;
        background-image: url(../img/main/clock.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 12px;
        top: 12px;
        left: -20px;
    }
    .label {
        height: 32px;
        align-self: center;
    }
    .checkbox {
        display: none;
    }
    .fake {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #e6e6e6;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        align-self: center;
        cursor: pointer;
    }
    .fake::before {
        content: url(../img/main/checked.png);
        align-content: center;
        position: absolute;
        top: -1px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 19px;
        border-radius: 50%;
        background: -webkit-linear-gradient(left, #fd4e75, #fc7858);
        transition-duration: 0.5s;
        opacity: 0;
        cursor: pointer;
    }
    .checkbox:checked + .fake::before {
        opacity: 1;
    }
}

/*block-progress
--------------------------------------------*/

.container-bottom {
    display: flex;
    justify-content: space-between;
    max-height: 245px;
}

.block-progress {
    padding: 31px 49px 23px 48px;
    display: flex;
    max-width: 241px;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    p {
        font-size: 14px;
        font-weight: 700;
        color: #777;
    }

    img {
        margin: 20px 0;
    }

    .quantity {
        font-size: 20px;
        font-weight: 700;
        background: -webkit-linear-gradient(120deg, #8841af, #708ae6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
    }

    .down, .up {
        position: relative;
        padding-left: 9px;
        font-size: 12px;
        color: #bfbfbf;
        font-weight: 700;
    }

    .up {
        margin-left: 5px;
    }

    .down::before, .up::before {
        content: '';
        position: absolute;
        left: -1px;
        display: block;
    }

    .down::before {
        bottom: 3px;
        border-left: 3px solid transparent;
        border-bottom: 6px solid #A889E9;
        border-right: 3px solid transparent;
    }

    .up::before {
        top: 2px;
        border-left: 3px solid transparent;
        border-top: 6px solid #FD5670;
        border-right: 3px solid transparent;
    }
}

/*block-shipment
--------------------------------------------*/

.block-shipments {
    padding: 31px 25px 24px 24px;
    display: flex;
    max-width: 241px;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.15);
    p {
        font-size: 14px;
        font-weight: 700;
        color: #777;
    }

    img {
        margin: 16px 0;
    }

    >div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .quantity {
        font-size: 20px;
        font-weight: 700;
        background: -webkit-linear-gradient(120deg, #fd4e75, #fc7858);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .down, .up {
        position: relative;
        padding-left: 9px;
        font-size: 12px;
        color: #bfbfbf;
        font-weight: 700;
    }

    .up {
        margin-left: 5px;
    }

    .down::before, .up::before {
        content: '';
        position: absolute;
        left: -1px;
        display: block;
    }

    .down::before {
        bottom: 3px;
        border-left: 3px solid transparent;
        border-bottom: 6px solid #A889E9;
        border-right: 3px solid transparent;
    }

    .up::before {
        top: 2px;
        border-left: 3px solid transparent;
        border-top: 6px solid #FD5670;
        border-right: 3px solid transparent;
    }
}
