/*header
------------------------------------------*/
header {
    width: 100%;

    .container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #F1F1F1;
    }

    /*top-part
    ---------------------------------------*/
    .btns-left {
        button {
            width: 60px;
            height: 70px;
            border: 1px solid #F1F1F1;
            border-left: none;
            background-color: initial;
            border-top: none;
            border-bottom: none;
            background-repeat: no-repeat;
            background-position: center;
        }

        button:first-of-type {
            width: 73px;
        }

        .first {
            background-image: url(../img/header/first.png);
        }

        .folders {
            background-image: url(../img/header/folders.png);
        }

        .settings {
            background-image: url(../img/header/settings.png);
        }
    }

    .btns-left,
    .btns-right {
        display: flex;
    }

    .btns-right {
        width: 430px;

        div {
            display: flex;
        }

        button {
            width: 60px;
            height: 70px;
            border: 1px solid #F1F1F1;
            border-right: none;
            background-color: initial;
            border-top: none;
            border-bottom: none;
            background-position: center;
            background-repeat: no-repeat;
        }

        .upload {
            background-image: url(../img/header/upload.png);
        }

        .envelope {
            background-image: url(../img/header/envelope.png);
        }

        .planet {
            background-image: url(../img/header/planet.png);
        }

        .active {
            position: relative;
        }

        .active::before {
            content: '';
            display: block;
            position: absolute;
            top: 32%;
            right: 25%;
            width: 5px;
            height: 5px;
            background-color: #fc6863;
            border-radius: 50%;
        }

        .name-people {
            flex-direction: column;
            margin: auto;
            width: 130px;
            align-items: start;
            padding-left: 18px;

            p {
                font-weight: 700;
                font-size: 13px;
                background: -webkit-linear-gradient(right, #fd4e75, #fc7858);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            span {
                margin-top: 3px;
                font-size: 10px;
                color: #bfbfbf;
                font-family: 'lato', 'myriad-reg', sans-serif;
                font-weight: 400;
            }
        }

        .additionaly {
            background-image: url(../img/header/vertical-elepses.png);
            background-repeat: no-repeat;
            background-position: center;
            width: 36px;
            height: 70px;
            border: none;
        }
    }

    button:hover {
        background-color: #f5f5dc;
    }

    .search {
        background-color: #f8f8f8;
        height: 33px;
        border-radius: 18px;
        border: 1px solid #F1F1F1;
        width: 24%;
        display: flex;
        justify-content: space-between;

        .text {
            width: 84%;
            border: none;
            height: 100%;
            line-height: 33px;
            color: #000;
            font-size: 12px;
            background-color: inherit;
            border-radius: 18px;
            margin-left: 10px;
            font-family: 'lato', 'myriad-reg', sans-serif;
            font-weight: 400;
        }

        .submit {
            border: none;
            border-radius: 18px;
            width: 20px;
            height: 100%;
            line-height: 33px;
            background-color: inherit;
            background-image: url(../img/header/zoom-in.png);
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 13px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    /*bottom-part
    ---------------------------------------*/
    .container-bottom {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 12px;
        padding-top: 17px;
        padding-bottom: 17px;

        p {
            color: #777;
            font-family: 'lato', 'myriad-reg', sans-serif;
            font-weight: 700;
        }

        span {
            color: #bfbfbf;
            font-family: 'lato', 'myriad-reg', sans-serif;
            font-weight: 700;
            margin-top: 8px;
        }

        .quantity {
            font-family: 'lato', 'myriad-reg', sans-serif;
            font-size: 20px;
            background: -webkit-linear-gradient(right, #fd4e75, #fc7858);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        div {
            margin-top: 9px;
        }

        .down,
        .up {
            position: relative;
            padding-left: 9px;
        }

        .up {
            margin-left: 5px;
        }

        .down::before,
        .up::before {
            content: '';
            position: absolute;
            left: -1px;
            display: block;
        }

        .down::before {
            bottom: 3px;
            border-left: 3px solid transparent;
            border-bottom: 6px solid #A889E9;
            border-right: 3px solid transparent;
        }

        .up::before {
            top: 2px;
            border-left: 3px solid transparent;
            border-top: 6px solid #FD5670;
            border-right: 3px solid transparent;
        }
    }

    .add-statistic {
        border: none;
        background-color: inherit;
        font-family: 'lato', 'myriad-reg', sans-serif;
        font-weight: 700;
        font-size: 12px;
        background: -webkit-linear-gradient(right, #fd4e75, #fc7858);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }
}
