@media all and (max-width: 1349px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .navigation {
        display: none;
    }

    header {
        .mobile-navigation {
            display: flex;
        }

        .container-bottom {
            width: 100%;
        }
    }

    main {
        padding: 10px;
        width: 80%;
    }

    main,
    .container-inner-top {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        .block-per-hour {
            margin-top: 20px;
        }
    }

    .container-inner-bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .container-inner-bottom-right {
        margin-top: 20px;

        .container-bottom {
            margin-top: 20px;
        }
    }

    .container-inner-bottom-left,
    .container-inner-bottom-right {
        width: 100%;
        max-width: none;
        max-height: none;
    }

    .block-monthly-progress {
        overflow-x: scroll;
    }

    .block-per-hour,
    .block-monthly-progress,
    .block-tasks,
    .block-feeds,
    .block-progress,
    .block-shipments {
        width: 100%;
        max-width: none;
    }

    .block-feeds .statements {
        max-width: none;
    }

    .block-tasks ul {
        width: 100%;
    }

    .container-bottom {
        max-height: none;
    }

    .block-progress,
    .block-shipments {
        width: 49%;
    }
}

@media all and (max-width: 1101px) {}
   

@media all and (max-width: 991px) {
    .container-inner {
        flex-wrap: wrap;
    }

    main {
        padding: 10px;
        width: 100%;
    }

    aside {
        margin-top: 20px;
        width: 100%;
    }

    .block-feeds .statements {
        max-width: none;
    }

}

@media all and (max-width: 768px) {
    aside .social .top-icons, aside .social .bottom-icons {
        width: 80%;

    }
    aside .social .top-icons, aside .social .bottom-icons {
        margin-top: 40px;    
    }
}
