@media all and (max-width: 1349px) {

    main,
    .container-inner-top {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        .block-per-hour {
            margin-top: 20px;
        }
    }

    .container-inner-bottom {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .container-inner-bottom-right {
        margin-top: 20px;

        .container-bottom {
            margin-top: 20px;
            flex-wrap: wrap;
        }
    }
}

@media all and (max-width: 1065px) {}
