/*navigation menu
-----------------------------------------------*/
nav {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 70px;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient( bottom, #fd4e75, #fc7858);
    .container {
        -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.2);
        height: 1000px;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
        div {
            margin-bottom: auto;
        }
        a{
            text-decoration: none;
            width: 100%;
            text-align: center;
            vertical-align: baseline;
            color: #fff;
            font-size: 10px;
            padding-top: 28px;
            margin-top: 30px;
        }
        /*logo
        --------------------------------------*/
        .logo {
            background: #ffffff;
            align-items: center;
            width: 70px;
            padding-top: 0px;
            margin-top: 0px;
            -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }
        .logo>span {
            display: block;
            line-height: 70px;            
            font-family: 'deftonestylus','myriad-reg', sans-serif;
            background: -webkit-linear-gradient(bottom , #fd4e75, #fc7858);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 30px;
            width: 45px;
            margin-left: 7px;
        }
        /*backgrounds for links
        ---------------------------------------*/
        .home,.stactics,.users,.settings,.quires {
            position: relative;
            transition-duration: 1s;
            &:hover {
                color: #7be624;
                background: rgb(63,94,251);
                background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
            }
        }
        .active {
            position: relative;
        }
        .active::after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 10px;
            right: -5px;
            border-top: 7px solid transparent;
            border-left: 5px solid #fd4e75;
            border-bottom: 7px solid transparent ;
        }
        .home::before,.stactics::before,.users::before,.settings::before,.quires::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center;
            top: 0px;
            left: 25px;
        }
        .home::before {
            background-image:url(../img/nav/home.png);
        }
        .stactics::before {
            background-image:url(../img/nav/staсtiсs.png);
        }
        .users::before {
            background-image:url(../img/nav/users.png);
        }
        .settings::before {
            background-image:url(../img/nav/settings.png);
        }
        .quires::before {
            background-image:url(../img/nav/quires.png);
        }
    }
    .power-off {
        width: 100%;
        margin-top: 780%;
        transition-duration: 1s;
        height: 20px;
        margin-bottom: 20px;
        display: block;
        &:hover {
            background: rgb(238,174,202);
            background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(212,30,85,1) 0%, rgba(240,66,8,1) 100%);
        }
    }
    .power-off > img {
        margin: 0 auto;
        display: block;
    }
}