/*setting
----------------------------------------*/
@font-face {
    font-family: 'deftonestylus';
    src: url('../fonts/deftonestylus.ttf');
}
@font-face {
    font-family: 'myriad-reg';
    src: url('../fonts/myriad-reg.otf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato','myriad-reg', sans-serif;
    font-weight: 400;
}
$primary-color: linear-gradient(left, #fd4e75, #fc7858);

button:hover, input:hover {
    cursor: pointer;
    background-color: #f5f5dc;
}

li {
    list-style-type: none;
}
.wraper {
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
}
.container-inner {
    display: flex;
    max-width: 1300px;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-inner-content {
    display: flex;
    max-width: 1296px;
}