/*aside
---------------------------------------------*/
aside {
    width: 289px;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container-btn {
        display: flex;
        background: -webkit-linear-gradient(left, #fd4e75, #fc7858);

        & button {
            line-height: 50px;
        }

        button {
            position: relative;
            width: 33.3%;
            height: 48px;
            background-color: initial;
            border: none;
        }

        .users,
        .chat,
        .like {
            background: center no-repeat;
        }

        .users {
            background-image: url(../img/aside/users.png);
        }

        .chat {
            background-image: url(../img/aside/chat-white.png);
        }

        .like {
            background-image: url(../img/aside/like.png);
        }

        button:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -6px;
            transform: translate(-50%, 0);
            display: block;
            border-left: 6px solid transparent;
            border-top: 6px solid #FD5670;
            border-right: 6px solid transparent;
            opacity: 0;
        }

        button:hover {
            background-color: rgba($color: #000000, $alpha: .2);
        }

        button:hover:after {
            opacity: 1;
        }
    }

/*container-acters
---------------------------------------------*/
    .container-actors {
        display: flex;
        flex-direction: column;
        max-height: 516px;
        overflow-y: scroll;

        >div {
            display: flex;
            justify-content: space-between;
            width: 85%;
            margin: 0 auto;
            padding: 20px 0;
            border-bottom: 2px solid #F1F1F1;
        }

        >div:first-of-type {
            padding-top: 24px;
        }

        >div:last-of-type {
            border-bottom: none;
        }

        .name {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 110px;
        }

        p {
            font-family: 'lato', 'myriad-reg', sans-serif;
            font-weight: 700;
            font-size: 13px;
            color: #777;
        }

        span {
            font-family: 'lato', 'myriad-reg', sans-serif;
            font-weight: 400;
            font-size: 10px;
            color: #bfbfbf;
        }

        button {
            width: 40px;
            background: url(../img/aside/chat.png) center no-repeat;
            background-color: inherit;
            border: none;
        }

        button:hover {
            background-color: #f5f5dc;
        }
    }

/*form
---------------------------------------------*/
    form {
        display: flex;
        justify-content: space-evenly;
        line-height: 50px;
        background-color: #fcfcfc;

        input {
            width: 23px;
            height: 20px;
            background: center no-repeat;
            background-color: inherit;
            border: none;
        }

        .text {
            width: 160px;
            height: 40px;
            font-family: 'lato', 'myriad-reg', sans-serif;
            font-weight: 300;
            font-size: 10px;
            color: #000;
            border-bottom: 2px solid #E9E9E9;
        }

        .search {
            background-image: url(../img/aside/zoom-in.png);
        }

        .write {
            background-image: url(../img/aside/pen.png);
        }

        .search:hover,
        .write:hover {
            cursor: pointer;
            background-color: #a37f76;
        }
    }

/*social
---------------------------------------------*/
    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 29px 39px;

        p {
            font-family: 'lato', 'myriad-reg', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: #777777;
        }

        .top-icons {
            margin-top: 30px;
        }

        .bottom-icons {
            margin-top: 16px;
        }

        .top-icons,
        .bottom-icons {
            display: flex;
            justify-content: space-between;
            width: 192px;
            line-height: 55px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            background: center no-repeat;
            border-radius: 18px;
            box-shadow: inset 0px 0px 6px 0px rgba(255, 255, 255, 1);
        }

        .rdio {
            background: -webkit-linear-gradient(120deg, #6359b0, #b26ae1);
        }

        .css-3 {
            background: -webkit-linear-gradient(120deg, #4bb9c3, #52e7c5);
        }

        .deviantart {
            background: -webkit-linear-gradient(120deg, #ad6a77, #f6b797);
        }

        .xing {
            background: -webkit-linear-gradient(120deg, #8841af, #708ae6);
        }

        .vimeo {
            background: -webkit-linear-gradient(120deg, #5885e8, #29cddd);
        }

        .vk {
            background: -webkit-linear-gradient(120deg, #f48982, #fbda89);
        }
    }
}